#include <stdio.h>

int countEqualDivisors(int n) {
    int count = 0;
    int i;

    for (i = 1; i <= n; i++) {
        if (n % i == n / i) {
            count++;
        }
    }

    return count;
}

int main() {
    int n;
    printf("Введіть натуральне число n: ");
    scanf("%d", &n);

    if (n <= 1 || n >= 150) {
        printf("Невірний ввід. Будь ласка, введіть число n в межах (1, 150).\n");
        return 0;
    }

    int result = countEqualDivisors(n);
    printf("Кількість рівних дільників числа %d: %d\n", n, result);

    return 0;
}
